/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}