/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 1px solid #FD6E0A;
    padding: 10px 35px;
    border-radius: 5px;
    margin-top: 10px;
}
.btn-secondary{
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    color: #FD6E0A;
}
.btn-secondary:hover{
    background-color: #FD6E0A;
    color: white;
}
.hero-section{
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}
.section-title{
    font-size: 16px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 14px;
    color: #757575;
}

.about-section{
    background-color: #f7ddc3d4;
}
.secondary-title{
    font-size: 28px;
    font-weight: bold;
    color: #181818;
}