/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.hero-navbar{
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}